fieldset {
    display: flex;
    flex-direction: column;
    border-color: blue;
    font-size: 35px;
    text-align: center;
}

h1 {
    font-display: bold;
    font-size: 60px;
    text-align: center;
}

#concepts {
    width:90%;
    height: 50px;
}

textarea {
    width: 90%;
    height:100px;
}

#journalDate {
    align-content: center;
}
